beautifulsoup4==4.13.4
clickhouse_connect==0.8.18
insightface==0.7.3
numpy==2.3.2
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
pandas==2.3.1
pymongo==4.14.0
python-dotenv==1.1.1
Requests==2.32.4
streamlit==1.45.1
tqdm==4.67.1
onnxruntime