absl-py==2.1.0
astor==0.8.1
certifi==2025.8.3
charset-normalizer==3.4.2
clickhouse-connect==0.6.23
colorama==0.4.6
dnspython==2.3.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.62.3
h5py==3.8.0
idna==3.10
importlib-metadata==6.7.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface==0.6
lz4==4.3.2
Markdown==3.4.4
MarkupSafe==2.1.5
numpy==1.21.6
opencv-python==4.12.0.88
pandas==1.1.5
Pillow==9.5.0
protobuf==4.24.4
pymongo==4.7.3
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2025.2
PyYAML==6.0.1
requests==2.31.0
scipy==1.7.3
six==1.17.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==2.3.0
tqdm==4.67.1
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.2.3
wrapt==1.16.0
zipp==3.15.0
zstandard==0.21.0
